/* Basic page styling for a film noir aesthetic */
body {
  background-color: #463e2e;
  font-size: 1.3em;
  color: #ecf0f1;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4f4b37;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header p {
  font-size: 1.2em;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 65px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
}

.instructions {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 30px;
}

.query-box {
  text-align: center;
  margin-bottom: 30px;
}

textarea {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1em;
  background-color: #3c3124;
  color: #ecf0f1;
  border: none;
  border-radius: 5px;
}

button {
  font-size: 1em;
  padding: 10px 15px;
  background-color: #312246ad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #6e51ee;
}

#result {
  margin-top: 30px;
  text-align: center;
  font-size: 1.2em;
  white-space: pre-wrap;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #3c3124;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  border: 1px solid #000000;
  padding: 5px;
}



/* Final Result Section */
#final-result {
  margin-top: 30px;
  text-align: center;
  font-size: 1.2em;
}

#final-result input {
  padding: 10px;
  font-size: 1em;
  background-color: #482823;
  color: #ecf0f1;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

#final-result button {
  padding: 10px 10px;
  background-color: #312246ad;
}

#confettiCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;  
  z-index: 9999;  
  pointer-events: none; 
}

/* Add CSS for hiding hints and celebration */
.hidden {
  display: none;
}

.incorrect {
  color: rgb(197, 7, 7);
  font-size: 25px;
  font-weight: bold;
  margin-top: 15px;
}


.celebration {
  font-size: 1.7em;
  color: rgb(22, 158, 237);
  font-weight: bold;
  text-align: center;
  display: none;
}

.confession {
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  display: none;
}
.resources{
  font-size: 1.2em;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  bottom: 0;
}

/* Add styles for social media icons */

#share-buttons {
  text-align: center; 
  margin-top: 30px; 
  display: none;
}

.social-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#certificate-container {
  display: none;
}

#achievement-certificate {
  display: block;
  max-width: 90%; /* Responsively fit image */
  width: 650px; /* Set a maximum width */
  height: auto; /* Maintain aspect ratio */
  margin: 0 auto; /* Center the certificate */
  border: 4px solid white;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}
